<div class="games">
    <ng-container *ngFor="let achievement of achievements">
        <div class="game" *ngIf="unlocked.includes(achievement.name)">
            <div class="game-title">
                <p class="game-name">{{ achievement.name }}</p>
            </div>
            <div class="game-description">
                <p>{{ achievement.description }}</p>
            </div>
            <img class="icon" src="assets/images/icon/star.png" alt="You found this one">
        </div>
        <div class="game" *ngIf="!unlocked.includes(achievement.name)">
            <div class="game-title">
                <p class="game-name">{{ achievement.BUName }}</p>
            </div>
            <div class="game-description">
                <p>{{ achievement.BUDescription }}</p>
            </div>
        </div>
    </ng-container>
</div>