<div style="display: table;height: 100%; max-height: 100%;width: 100%;">
    <div style="display: table-cell; vertical-align: middle; text-align: center;color:gray;">
        <span style="display: inline-table;vertical-align: middle;">
            <span style="font-size: 56px;display: table-cell; cursor:pointer;" (click)="click(0)">4</span>
            <img src="../../../../assets/images/icon/roundMe.png" [ngClass]="logoClass" (mouseenter)="enter()"
                (mouseleave)="leave()" (click)="click(2)">
            <span style="font-size: 56px;display: table-cell; cursor:pointer;" (click)="click(1)">4</span>
        </span>

        <h1 class="mat-h1">Oops! Page not found</h1>
        <p class="mat-body">Either the URL you clicked has become inactive, or you made a mistake in the spelling.</p>
        <!-- <span style="display: inline-table;width: 40%;padding-top: 20px;">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </span> -->
    </div>
</div>