<div class="body">
    <header>
        <h1>Welcome to Your Project Viewer</h1>
    </header>
    <section class="intro">
        <p>
            This is the place where you can explore all my projects, including the ideas I've never brought to life.
        </p>
        <p>
            Whether you're looking for inspiration or just curious about my work, you're in the right place.
        </p>
    </section>
    <section class="projects-link">
        <a class="AButton" routerLink="/page/1">View Projects.</a>
    </section>
    <section class="intro">
        <p>
            I made this on my Internship in 2022. This was a project I made to learn Angular, Typescript and Asp.net.
        </p>
        <p>
            The Offline/Online button is there so you can switch between built in data and data from the server. But I
            never run the server, so it's always empty.
        </p>
        <p>
            I haven't updated it much since, so excuse the styling and the lack of features.
        </p>
        <p>
            When I found out in 2023 that Github Pages existed, I decided to update it to host this website.
        </p>
    </section>
    <section class="intro">
        <p>
            You can filter the projects. By hovering over the icons to see the filters. Then you can put it in the
            filter box. You can also ifnore filters by typing an '!' infront of the filter.
            The default filters are "!ignore this !pokemon essentials" to only show my programming projects by default.
        </p>
    </section>
    <section class="projects-link">
        <p>Web Version <a href="https://github.com/oldmartijntje/Project-Viewer/releases">V1.1.0</a>. Last updated <a
                href="https://github.com/oldmartijntje/Project-Viewer/commits/main">October 2023</a>.</p>
    </section>
</div>