.details-wrapper {
    max-width: 900px;
    margin: 20px auto;
    position: relative;
}

h3 {
    overflow: hidden;
}

.details {
    // overflow: hidden;
    height: 85vh;
}

.project {
    &-banner {
        height: 442px;
        overflow: hidden;

        &-img {
            width: 100%;
            filter: blur(5px);
        }
    }

    &-content {
        text-align: center;
        position: relative;
        top: -200px;
    }

    &-header {
        &-title {
            overflow: hidden;
            max-width: 100%;
            font-size: 70px;
            color: var(--details-title-color);
            font-weight: 700;
            line-height: 70px;
            white-space: wrap;
            text-shadow: -1px -1px 0 var(--details-title-shadow-color),
                1px -1px 0 var(--details-title-shadow-color),
                -1px 1px 0 var(--details-title-shadow-color),
                1px 1px 0 var(--details-title-shadow-color);
        }

        &-version {
            color: var(--details-version-text-color);
            font-weight: 700;
            text-shadow: -1px -1px 0 var(--details-version-text-shadow-color),
                1px -1px 0 var(--details-version-text-shadow-color),
                -1px 1px 0 var(--details-version-text-shadow-color),
                1px 1px 0 var(--details-version-text-shadow-color);
        }

        &-status {
            color: var(--details-status-text-color);
            font-weight: 700;
            text-shadow: -1px -1px 0 var(--details-status-text-shadow-color),
                1px -1px 0 var(--details-status-text-shadow-color),
                -1px 1px 0 var(--details-status-text-shadow-color),
                1px 1px 0 var(--details-status-text-shadow-color);
        }

        &-creators {
            color: var(--details-creators-text-color);
            font-weight: 700;
            text-shadow: -1px -1px 0 var(--details-creators-text-shadow-color),
                1px -1px 0 var(--details-creators-text-shadow-color),
                -1px 1px 0 var(--details-creators-text-shadow-color),
                1px 1px 0 var(--details-creators-text-shadow-color);
        }

        &-genres {
            color: var(--text-main);
            font-weight: 700;
        }

        max-width: 100%;


    }
}

.quick-navigation {
    &-right {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-right: 20px;
    }

    &-left {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    margin-right: 20px;
    border-radius: 5px;

}

.infoPage {
    background: var(--details-info-background-color);
    color: var(--details-info-text-color);
    text-align: left;
    padding: 10px;
}

.desctiption-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.rating {
    &-bg {
        border-radius: 5px;
        background: var(--rating-background);
    }

    &-og {
        &-bg {
            border-radius: 5px;
            background: var(--rating-background-og);
        }

        color: var(--rating-color-og);
    }

    &-s {
        &-bg {
            border-radius: 5px;
            background: var(--rating-background-s);
        }

        color: var(--rating-color-s);
    }

    &-s-plus {
        &-bg {
            border-radius: 5px;
            background: var(--rating-background-s-plus);
        }

        color: var(--rating-color-s-plus);
    }

    &-a {
        &-bg {
            border-radius: 5px;
            background: var(--rating-background-a);
        }

        color: var(--rating-color-a);
    }

    color: var(--rating-color);
}

.icon {
    margin-left: 10px;
    max-height: 35px;
    max-width: 35px;
}

@media screen and (max-width: 768px) {
    .project {
        &-banner {
            &-img {
                filter: blur(1px);
            }
        }

        &-content {
            top: -400px;
        }

        &-header {
            &-title {
                font-size: 50px;
                line-height: 50px;
            }
        }
    }
}